.full-width-video-player {
  background: $brand-color-one;
  position: relative;
  padding: 20px 15px 80px;

  &:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/pattern-back-1.png");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
    opacity: 0.05;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba($brand-color-one, 1) 0%, rgba($brand-color-one, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba($brand-color-one, 1) 0%, rgba($brand-color-one, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba($brand-color-one, 1) 0%, rgba($brand-color-one, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2a94e', endColorstr='#00d2a94e', GradientType=0); /* IE6-9 */
  }

  .container {
    z-index: 5;
    position: relative;
  }

  .full-width-video-player-header {
    display: flex;
    justify-content: center;
    margin: 0 0 30px;

    .content-title {
      color: $brand-white;
      font-size: 40px;
      font-family: $brand-font-heading-one;
      text-align: center;
      transition: 1s;
      word-spacing: 10px;
      text-shadow: 2px 2px $brand-black;
    }
  }

  .full-width-video-player-inner-content {
    display: flex;
    justify-content: center;
    align-content: center;

    .iframe-wrapper {
      display: block;
      position: relative;
      width: 100%;
      max-width: 900px;
      transition: 1s;
      height: 200px;
      @include media-breakpoint-up(xs) {
        height: 250px;
      }
      @include media-breakpoint-up(md) {
        height: 350px;
      }
      @include media-breakpoint-up(lg) {
        height: 550px;
      }

      iframe {
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 20px;
        box-shadow: 0 0 15px 0 $brand-black;
      }

      .iframe-play-overlay-button {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        transition: 0.5s;
        overflow: hidden;
        border: 1px solid $brand-black;
        border-radius: 15px;

        .thumbnail-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          background-position: bottom center;
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 10;
          transition: 1s;

          &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($brand-black, 0.5);
            transition: 0.5s;
            opacity: 0;
          }
        }

        .play-image {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 15;
          transform: translate(-50%, -50%);
          width: 100px;
          height: 100px;
          background: $brand-black;
          border-radius: 50%;
          transition: 0.5s;
          background-image: url("/images/icons/play.png");
          background-position: center;
          background-size: 30% 30%;
          background-repeat: no-repeat;
        }

        &.active {
          opacity: 0;
          pointer-events: none;
          z-index: 0;
        }

        &:hover {
          .thumbnail-image {
            transform: scale(1.02);
            -webkit-backface-visibility: hidden;

            &:before {
              opacity: 1;
              -webkit-backface-visibility: hidden;
            }
          }

          .play-image {
            background-color: $brand-color-one;
            transform: translate(-50%, -50%) scale(0.8);
          }
        }
      }
    }
  }

  &.aos-init {
    .full-width-video-player-header {
      .content-title {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
      }
    }

    .full-width-video-player-inner-content {
      .iframe-wrapper {
        opacity: 0;
        transform: translateY(50px) scale(1);
      }
    }

    &.aos-animate {
      .full-width-video-player-header {
        .content-title {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .full-width-video-player-inner-content {
        .iframe-wrapper {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
