.theme-button {
  display: inline-flex;
  position: relative;
  padding: 10px 35px;
  border-radius: 5px;
  border: 1px solid $black;
  background: $brand-color-one;
  color: $white;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  text-align: center;

  &:before,
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 150px;
    height: 30px;
    background: $brand-color-two;
    top: 50%;
    transition: 0.3s;
  }

  &:before {
    left: 0;
    transform: translateY(-50%) translateX(-110%) rotate(-60deg);
  }

  &:after {
    right: 0;
    transform: translateY(-50%) translateX(110%) rotate(-60deg);
  }

  &:hover {
    text-decoration: none;
    background: $white;
    color: $brand-color-two;
    border-color: $brand-color-two;

    &:before {
      transform: translateY(-50%) translateX(-50%) rotate(-60deg);
    }

    &:after {
      transform: translateY(-50%) translateX(50%) rotate(-60deg);
    }
  }
}