.list-wrapper {
  padding: 15px;
  max-width: 1320px;
  @include media-breakpoint-up(md) {
    padding: 30px 15px;
  }

  .list-wrapper-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-wrapper-each {
    display: flex;
    justify-content: center;
    animation-name: fadeUp;
    animation-fill-mode: both;
    animation-duration: 0.5s;
  }

  @for $i from 1 to 30 {
    .list-wrapper-each:nth-child(#{$i}) {
      animation-delay: $i * 0.05s;
    }
  }
}