.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  transition: 0.5s;
  animation-name: slideDown;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.5s;
  background: $brand-black;
  border-bottom: 1px solid $brand-color-one;
  @include media-breakpoint-up(lg) {
    background: transparent;
    border-bottom: 1px solid rgba($brand-color-one, 0.3);
  }

  .container {
    max-width: 1320px;
  }

  .main-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    height: 70px;
    @include media-breakpoint-up(lg) {
      height: 100px;
    }

    .header-logo {
      max-width: 120px;
      transition: 0.5s;
      @include media-breakpoint-up(sm) {
        max-width: 200px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 300px;
      }

      .header-logo-image {
        max-width: 100%;
        height: 70px;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      &:hover {
        transform: scale(0.9);
      }
    }

    .burger-button {
      display: flex;
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &.scroll-active {
    background: $brand-black;
    border-bottom: 1px solid $brand-color-one;

    .main-header-inner {
      height: 70px;

      .header-logo {
        .header-logo-image {
          @include media-breakpoint-up(sm) {
            max-width: 200px;
          }
        }
      }

      .main-nav {
        .nav-list {
          .list-item {
            .item-link {
              color: $white;
            }
          }
        }
      }
    }
  }

  &.admin {
    display: none;
  }
}