@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleOutFade {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}