// Fonts
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');




// Utilities
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "global";
@import "animations";

// Layout
@import "components/Layout/Header";
@import "components/Layout/Nav";
@import "components/Layout/Footer";

// Elements
@import "components/Elements/BurgerButton";
@import "components/Elements/Loader";
@import "components/Elements/Button";
@import "components/Elements/FormInput";
@import "components/Elements/ScrollArrows";

// Components
@import "components/ListWrapper";
@import "components/FullWidthImageTextBanner";
@import "components/ColumnInfoImage";
@import "components/FullWidthVideoPlayer";
@import "components/ContactForm";
@import "components/AlertMessage";
@import "components/ImageSideText";
@import "components/FullWidthInfo";
@import "components/BackImageFloatingContent";
@import "components/AdminPanel";

// Pages