body {
  padding-top: 70px;
  @include media-breakpoint-up(sm) {
    padding-top: 100px;
  }
}

.clickable {
  position: relative;
  display: flex;
  text-decoration: none;
  color: $brand-color-one;
  transition: 0.5s;

  &:before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background: $brand-color-one;
    width: 0;
    transition: 0.5s;
  }

  &:hover {
    color: $brand-color-two;

    &:before {
      width: 100%;
      background-color: $brand-color-two;
    }
  }
}

.example-class {
  @include media-breakpoint-up(xs) {

  }
}

@for $i from 1 to 10 {
  .example-loop-item:nth-child(#{$i}) {
    transition-delay: $i * 0.10s;
  }
}

.example-animation {
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}